/** @format */

* {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  background-color: yellow;
  width: 0;
  color: black;
  z-index: 99;
  position: absolute;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
